@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.body {
  font-family: Calibri, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #3f495a;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.container2 {
  max-width: 920px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

@font-face {
  font-family: "Franklin Gothic Medium";
  src: url(/src/fonts/framd.ttf) format("truetype");
}
@font-face {
  font-family: "Bahnschrift";
  src: url(/src/fonts/Bahnschrift.ttf) format("truetype");
}
.section__title {
  margin: 0 auto;
  font-size: 34px;
  margin-bottom: 30px;
  color: #233042;
  font-family: Franklin Gothic Medium;
  text-align: center;
  letter-spacing: -2px;
}

.line {
  height: 4px;
  width: 72px;
  background-color: #d17700;
  margin: 0 auto;
}

@-webkit-keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes headerInner {
  from {
    opacity: 0;
    margin-left: -500px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}
@keyframes headerInner {
  from {
    opacity: 0;
    margin-left: -500px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}
@-webkit-keyframes skills {
  from {
    opacity: 0;
    margin-bottom: 80px;
  }
  to {
    opacity: 1;
    margin-bottom: 30px;
  }
}
@keyframes skills {
  from {
    opacity: 0;
    margin-bottom: 80px;
  }
  to {
    opacity: 1;
    margin-bottom: 30px;
  }
}
@-webkit-keyframes btnPulse {
  from {
    margin-left: 5px;
  }
  to {
    margin-left: 0px;
  }
}
@keyframes btnPulse {
  from {
    margin-left: 5px;
  }
  to {
    margin-left: 0px;
  }
}
@-webkit-keyframes hotWheels {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes hotWheels {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.loader {
  position: relative;
  font-family: Franklin Gothic Medium;
  font-size: 40px;
  color: #344051;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
}
.loader::after {
  content: "…";
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  -webkit-animation: dots steps(4, end) 2s infinite;
          animation: dots steps(4, end) 2s infinite;
  width: 0px;
}

@-webkit-keyframes dots {
  to {
    width: 45px;
  }
}

@keyframes dots {
  to {
    width: 45px;
  }
}
.main {
  display: none;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(/src/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  position: relative;
}
.header__nav {
  opacity: 1;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 60px;
  background-color: #344051;
  color: #fff;
  font-family: "Franklin Gothic Medium";
}
.header__nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
.header__nav__logo {
  font-size: 24px;
  font-weight: 400;
  -webkit-animation: logo 2s;
          animation: logo 2s;
}
.header__nav__logo:hover {
  margin-top: -1px;
}
.header__nav__list {
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Franklin Gothic Medium";
}
.header__nav__list-item {
  font-size: 16px;
  margin: 0 15px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.header__nav__list-item:hover {
  color: #d17700;
}
.header__nav__list-item:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__inner {
  padding-top: 450px;
  max-width: 570px;
  text-align: center;
  font-family: "Franklin Gothic Medium";
  -webkit-animation: headerInner 1s;
          animation: headerInner 1s;
}
.header__inner-title {
  font-size: 80px;
  color: #233042;
  margin-bottom: 30px;
}
.header__inner-subtitle {
  margin-bottom: 60px;
  color: #79818c;
  font-size: 20px;
}
.header__inner__btn {
  font-size: 18px;
  font-family: Franklin Gothic Medium;
  background-color: transparent;
  border: 2px solid #6d7682;
  color: #6f707e;
  padding: 5px 12px;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  font-weight: 400;
  margin: 0 8px;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.header__inner__btn:hover {
  border: 2px solid #344051;
  background-color: #344051;
  color: #fff;
}
.header__inner__btn:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.about {
  text-align: center;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__img {
  height: 200px;
  width: 200px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.about__text {
  max-width: 800px;
  font-size: 18px;
  margin-bottom: 40px;
}
.about__btn {
  font-family: Franklin Gothic Medium;
  background-color: transparent;
  border: 2px solid #6d7682;
  color: #6f707e;
  padding: 8px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  font-weight: 400;
  padding-left: 31px;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.about__btn-img {
  height: 14px;
  width: 14px;
  margin-right: 5px;
}
.about__btn::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 16px;
  width: 16px;
  margin-top: 1px;
  left: 10px;
  top: 7px;
  background-image: url(/src/images/download.svg);
}
.about__btn:hover {
  border: 2px solid #344051;
  background-color: #344051;
  color: #fff;
}
.about__btn:hover::before {
  background-image: url(/src/images/download-white.svg);
}
.about__btn:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.skills {
  padding: 100px 0;
  text-align: center;
  background-image: url(/src/images/skills--bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200%;
  background-attachment: fixed;
  margin-bottom: 100px;
}
.skills .section__title {
  -webkit-animation: skills 2s;
          animation: skills 2s;
}
.skills__list {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills__list__item {
  width: 212px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.skills__list__item:hover {
  scale: 1.1;
}
.skills__list__item-img {
  width: 48px;
  height: 48px;
  margin-bottom: 35px;
}
.skills__list__item-title {
  color: #d17700;
  font-family: Bahnschrift;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.case {
  text-align: center;
  margin-bottom: 100px;
}
.case__subtitle {
  margin-top: 40px;
  margin-bottom: 50px;
}
.case__slider {
  margin: 0 auto;
}
.case__slider-img {
  max-width: 1200px;
}
.case__inner {
  margin-top: -200px;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}
.case__inner__info {
  margin-right: 80px;
  max-width: 220px;
}
.case__inner__info-title {
  font-size: 25px;
  color: #233042;
  font-family: Franklin Gothic Medium;
  margin-bottom: 10px;
}
.case__inner__info-subtitle {
  margin-bottom: 20px;
}
.case__inner__info-btn {
  font-family: Franklin Gothic Medium;
  background-color: #63b5ae;
  border: 2px solid #63b5ae;
  color: #fff;
  padding: 8px 35px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  font-weight: 400;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  -webkit-animation: btnPulse 1s alternate;
          animation: btnPulse 1s alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.case__inner__project-title {
  font-size: 25px;
  color: #233042;
  font-family: Franklin Gothic Medium;
  margin-bottom: 10px;
}
.case__inner__project-text {
  font-size: 20px;
}
.case__price {
  font-size: 44px;
  color: #233042;
  margin-bottom: 60px;
  font-family: Franklin Gothic Medium;
}
.case__price-title {
  font-size: 30px;
  color: #233042;
  margin-bottom: 20px;
  text-align: left;
  font-family: Franklin Gothic Medium;
}
.case__price__dd {
  padding: 15px 10px;
  background-color: #eeeeee;
  width: 100%;
  margin-bottom: 50px;
}
.case__price__calc {
  margin: 0 auto;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  font-family: Franklin Gothic Medium;
  color: #1c2534;
  font-size: 20px;
}
.case__line {
  background-color: #d1d1d1;
  max-width: 900px;
  height: 2px;
  margin-bottom: 20px;
}

.stats {
  margin-bottom: 100px;
  background-image: url(/src/images/stats--bg.jpg);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  background-attachment: fixed;
  padding: 100px 0;
}
.stats__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}
.stats__inner__item {
  font-family: Franklin Gothic Medium;
  color: #323d4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.stats__inner__item-img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.stats__inner__item-num {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
}

.reviews {
  margin-bottom: 100px;
}
.reviews__slider {
  margin: 0 auto;
  max-width: 700px;
  margin-top: 60px;
}
.reviews__slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #243042;
  -webkit-animation: hotWheels 0.1s infinite linear;
          animation: hotWheels 0.1s infinite linear;
}
.reviews__slider__item-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 40px;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  -webkit-animation: hotWheels 0.1s infinite linear;
          animation: hotWheels 0.1s infinite linear;
}
.reviews__slider__item-text {
  margin-bottom: 40px;
}
.reviews__slider__item-info {
  margin-bottom: 50px;
}
.reviews__slider__item-info span {
  font-weight: bold;
}

.contacts {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(/src/images/contact--bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
}
.contacts h3 {
  color: #fff;
}
.contacts .container {
  max-width: 720px;
}
.contacts__subtitle {
  margin-top: 35px;
  margin-bottom: 50px;
}
.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 50px;
}
.contacts__info__item {
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contacts__info__item-img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.contacts__title {
  font-family: Franklin Gothic Medium;
  font-size: 20px;
  margin-bottom: 50px;
}
.contacts__form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0;
}
.contacts__form-input {
  background-color: #d2d6dc;
  width: 320px;
  padding: 10px 15px;
  text-align: left;
  color: #5d5d5e;
  font-family: Franklin Gothic Medium;
  font-weight: 300;
}
.contacts__form-textarea {
  width: 100%;
  min-height: 100px;
  background-color: #d2d6dc;
  padding: 10px 15px;
  text-align: left;
  color: #5d5d5e;
  font-family: Franklin Gothic Medium;
  font-weight: 300;
  margin-bottom: 30px;
}
.contacts__form-btn {
  font-family: Franklin Gothic Medium;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.contacts__form-btn:hover {
  background-color: #fff;
  color: #354051;
}
.contacts__form-btn:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  background-color: #354051;
  width: 100%;
  height: 100px;
  color: #fff;
  text-align: center;
  line-height: 100px;
}